<span *ngIf="!dataLoading" class="mat-typography">

    <form novalidate [formGroup]="formVariety" (ngSubmit)="submit()">

        <div class="ngxgHeaderToolbar pageTitle" fxLayout="row" fxLayoutAlign="">
            <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="center center">
                <span fxFlex=41>

                    <h1>Cadastrar Variedade</h1>

                </span>
                <span fxFlex="1 1 auto"></span>
                <span>
                    <button type="button" mat-button class="ngxgButtonWhite" (click)="cancel($event)">Cancelar</button>
                    <button type="submit" mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition">Salvar</button>
                </span>
            </div>
        </div>

        <div class="ngxgContent" fxFlex fxLayout="row">

            <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="start">

                <div fxFlex="50" fxLayout="column">

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Nome" formControlName="name" required>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Nome comercial (opcional)" formControlName="comercialName">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <input matInput type="number" placeholder="Grupo de Maturação (MG)" formControlName="comercialName" min="1">
                            <span matSuffix>MG</span>
                            <mat-error *ngIf="this.formVariety.get('comercialName').invalid">Parâmetro inválido.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <input matInput type="number" placeholder="Comparative Relative Maturity (CRM)" formControlName="comercialName" min="1">
                            <span matSuffix>CRM</span>
                            <mat-error *ngIf="this.formVariety.get('comercialName').invalid">Parâmetro inválido.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <section>
                            <label>Maturidade:</label>
                            &nbsp;&nbsp;
                            <mat-radio-group formControlName="comercialName">
                                <mat-radio-button value='0'>Muito cedo</mat-radio-button>
                                &nbsp;&nbsp;
                                <mat-radio-button value='1'>Cedo</mat-radio-button>
                                &nbsp;&nbsp;
                                <mat-radio-button value='1'>Médio</mat-radio-button>
                                &nbsp;&nbsp;
                                <mat-radio-button value='1'>Tardio</mat-radio-button>
                                &nbsp;&nbsp;
                                <mat-radio-button value='1'>Muito tarde</mat-radio-button>
                                <!-- <mat-error *ngIf="this.formVariety.get('comercialName').hasError('required')">Por favor selecione sim ou não para irrigação.</mat-error> -->
                            </mat-radio-group>
                        </section>
                    </div>

                </div>

            </div>

        </div>

    </form>

</span>