<span *ngIf="!tabLoading" class="mat-typography">

    <div fxLayout="column" fxLayoutGap="20px">

        <div fxFlex fxLayout="row" fxLayoutGap="20px">

            <div fxFlex fxLayout="column">
                <div class="ngxgCardSectionTitle" fxFlex>
                    <h1>Climatologia</h1>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="20px">

                    <mat-card class="ngxgCard mat-elevation-z1" fxFlex>
                        <div fxFlex>
                            <chart [options]="charts.climatology.options" (load)="saveChartInstance('climatology', $event.context)"></chart>
                        </div>
                    </mat-card>

                </div>
            </div>

        </div>

    </div>


</span>