<span *ngIf="!dataLoading" class="mat-typography">

    <form novalidate [formGroup]="formFarm" (ngSubmit)="submit()">

        <div class="ngxgHeaderToolbar pageTitle" fxLayout="row" fxLayoutAlign="">
            <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="center center">
                <span fxFlex=41>

                    <h1>Cadastrar Fazenda</h1>

                </span>
                <span fxFlex="1 1 auto"></span>
                <span>
                    <button type="button" mat-button class="ngxgButtonWhite" (click)="cancel($event)">Cancelar</button>
                    <button type="submit" mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition">Salvar</button>
                </span>
            </div>
        </div>

        <div class="ngxgContent" fxFlex fxLayout="row">

            <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px">

                <div fxFlex="50" fxLayout="column">

                    <div fxFlex fxLayout="row">
                        <table mat-table [dataSource]="farmDataSource" matSort #farmsSort="matSort" matSortActive="name" matSortDisableClear matSortDirection="asc"
                            style="width:100%">

                            <!-- Name Column -->
                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Fazenda </th>
                                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                            </ng-container>

                            <!-- Edit Column -->
                            <ng-container matColumnDef="edit">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td *matCellDef="let element" class="mat-column-edit">
                                    <button mat-stroked-button color="accent">Edit</button>
                                </td>
                            </ng-container>

                            <!-- Delete Column -->
                            <ng-container matColumnDef="delete">
                                <th mat-header-cell *matHeaderCellDef> </th>
                                <td *matCellDef="let element" class="mat-column-delete">
                                    <button mat-stroked-button color="warn">Apagar</button>
                                </td>
                            </ng-container>


                            <tr mat-header-row *matHeaderRowDef="farmTableColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: farmTableColumns;"></tr>
                        </table>
                    </div>

                </div>

                <div fxFlex="50" fxLayout="column">
                    <div fxFlex fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Nome" formControlName="name" required>
                            <mat-error *ngIf="formFarm.get('name').invalid">Nome inválido.</mat-error>
                        </mat-form-field>
                    </div>
                </div>

            </div>

        </div>

    </form>

</span>