<mat-toolbar id="mainToolbar" fxLayout="row" class="mat-typography">
    <span class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="center center">
        <span>
            <img src="assets/img/logo.png" style="display:block; height:40px;">
        </span>
        <span fxFlex="2 1 auto"></span>
        <span>
            <mat-list fxLayout="row">
                <a mat-list-item [routerLink]="['/fields']" routerLinkActive="link-active">Campos</a>
                <a mat-list-item [routerLink]="['/farms']" routerLinkActive="link-active">Fazendas</a>
                <a mat-list-item [routerLink]="['/enso']" routerLinkActive="link-active">El Niño</a>
                <mat-divider [vertical]="true"></mat-divider>

                <a mat-list-item [matMenuTriggerFor]="menu">
                    <mat-icon>account_circle</mat-icon>
                </a>

            </mat-list>
        </span>
    </span>
</mat-toolbar>
<mat-toolbar id="mainToolbarSoul"></mat-toolbar>

<mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
    <button mat-menu-item routerLink="/account" routerLinkActive="link-active">
        <mat-icon>account_circle</mat-icon>
        <span>Minha conta</span>
    </button>
    <button mat-menu-item (click)="signout()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Sair</span>
    </button>
</mat-menu>

<!-- Preloader -->
<span *ngIf="loading" style="position:absolute; left: 50%; top:50%; transform: translate(-50%, -50%);">
    <mat-spinner [diameter]="60" [strokeWidth]="4"></mat-spinner>
</span>

<router-outlet (activate)="onActivate($event)"></router-outlet>