#mainToolbar {
    position: fixed;
    top: 0;
    z-index: 10000;

    background-color: rgba($color: #FFFFFF, $alpha: .8)
}

#mainToolbarSoul {
    background-color: transparent;
    margin-bottom: 15px;
}