#mainToolbar {
    height: 80px;
    position: fixed;
    top: 0;
    z-index: 10000;
    padding: 0 40px;
    background-color: rgba($color: #FFFFFF, $alpha: 1)
}

#mainToolbarSoul {
    height: 80px;
    background-color: #FFFFFF;
}