<div id="authWrapper" fxLayout="row" fxLayoutAlign="start stretch" class="mat-typography">
    <div fxFlex=50 fxFlex.xs fxLayout="column" fxLayoutAlign="center center" ngStyle.lt-xs="border-right: solid 1px #C0C0C0">

        <div id="logoImage" fxFlex="80px">
            <img src="assets/img/logo.png">
        </div>

        <div id="formWrapper" fxFlex="200px">

            <router-outlet></router-outlet>

        </div>

    </div>

    <div fxFlex id="authImage" fxHide.xs>

    </div>

</div>