<span *ngIf="!dataLoading" class="mat-typography">

    <form novalidate [formGroup]="formSeason" (ngSubmit)="submit()">

        <div class="ngxgHeaderToolbar pageTitle" fxLayout="row" fxLayoutAlign="">
            <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="center center">
                <span fxFlex=41>

                    <h1>{{(editing)? 'Editar ' : 'Cadastrar nova '}} Safra</h1>

                </span>
                <span fxFlex="1 1 auto"></span>
                <span>
                    <button type="button" mat-button class="ngxgButtonWhite" (click)="cancel($event)">Cancelar</button>
                    <button type="submit" mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition">Salvar</button>
                </span>
            </div>
        </div>

        <div class="ngxgContent" fxFlex fxLayout="row">

            <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="start">

                <div fxFlex fxLayout="column" style="max-width: 520px;">

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Nome (opcional)" formControlName="name">
                        </mat-form-field>
                    </div>

                    <!-- <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field *ngIf="!this.field" appearance="outline">
                            <mat-select placeholder="Campo" formControlName="field" multiple required>
                                <mat-option *ngFor="let field of fields" [value]="field._id">
                                    {{field.name}}
                                </mat-option>
                            </mat-select>
                            <mat-error *ngIf="this.formSeason.get('field').hasError('required')">Você precisa selecionar ao menos um campo.</mat-error>
                        </mat-form-field>
                    </div> -->

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Cultura" formControlName="commodity" disableOptionCentering="true">
                                <mat-option *ngFor="let c of commodities" [value]="c">{{c.name}}</mat-option>
                            </mat-select>
                            <mat-error *ngIf="formSeason.get('commodity').hasError('required')">Por favor selecione uma cultura.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Variedade" formControlName="variety"
                                disableOptionCentering="true">
                                <mat-option *ngFor="let v of varieties" [value]="v">{{v.name}}</mat-option>
                            </mat-select>
                            <mat-hint *ngIf="!formSeason.get('variety').enabled && !formSeason.get('variety').hasError('required')" align="start">
                                Selecione uma cultura para selecionar uma variedade.
                            </mat-hint>
                            <mat-error *ngIf="formSeason.get('variety').hasError('required')">Por favor selecione uma varidade.</mat-error>
                        </mat-form-field>

                        <button mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition" style="margin-left: 15px; height: 41px;"
                            routerLink="/variety/new">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="picker1" placeholder="Data de Plantio" (focus)="picker1.open()" formControlName="plantingDate">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                            <mat-error *ngIf="this.formSeason.get('plantingDate').hasError('required')">Escolha uma data de plantio.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <input matInput [matDatepicker]="picker2" placeholder="Data de Colheita" (focus)="picker2.open()" formControlName="harvestingDate"
                                [required]="!commodityWithModel">
                            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                            <mat-datepicker #picker2></mat-datepicker>
                            <mat-hint *ngIf="commodityWithModel" align="start">
                                <strong>A data de colheita será calculada automaticamente.</strong>
                            </mat-hint>
                            <mat-error *ngIf="this.formSeason.get('harvestingDate').hasError('required')">Escolha uma data prevista para a colheita.</mat-error>

                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <input matInput type="number" placeholder="Profundidade da semeadura (cm)" formControlName="plantingDepth" min="1">
                            <span matSuffix>cm</span>
                            <mat-error *ngIf="this.formSeason.get('plantingDepth').invalid">Parâmetro inválido.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <section>
                            <label>Irrigado:</label>
                            &nbsp;&nbsp;
                            <mat-radio-group formControlName="irrigated">
                                <mat-radio-button [value]="false">Não</mat-radio-button>
                                &nbsp;&nbsp;
                                <mat-radio-button [value]="true">Sim</mat-radio-button>
                                <mat-error *ngIf="this.formSeason.get('irrigated').hasError('required')">Selecione sim ou não para irrigação.</mat-error>
                            </mat-radio-group>
                        </section>
                    </div>

                </div>
                <div fxFlex fxLayout="column"></div>

            </div>

        </div>

    </form>

</span>