.mat-column-edit,
.mat-column-delete {
    width: 90px;
    text-align: right;
}

.mat-column-name {
    font-size: 1.2em;
}

.mat-row>td {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.mat-row:hover {
    background: linear-gradient(to right, rgba(239, 239, 239, 0.5), rgba(239, 239, 239, 0.2));
}

.mat-header-row>th,
.mat-row:last-child>td {
    border-bottom: none;
}