<span *ngIf="!dataLoading" class="mat-typography">

    <div class="ngxgHeaderToolbar" fxLayout="row">
        <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span fxFlex=71>
                <p style="font-size: 1.1em;">As fazendas podem ser vinculadas aos campos para agrupá-los.
                    <br> É possível relacionar uma fazenda com um campo no momento do cadastro do campo ou na página de edição
                    dos campos existentes.</p>
            </span>
            <span fxFlex="1 1 auto"></span>
            <span>
                <button mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition" routerLink="/farm/new">
                    Criar Fazenda
                </button>
            </span>
        </div>
    </div>

    <div class="ngxgContent" fxFlex fxLayout="row">

        <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="start" fxLayoutGap="50px">

            <div fxFlex fxLayout="column">

                <div *ngIf="farmDataSource.data.length === 0" fxFlex fxFlex.lt-md fxLayout="column" fxLayoutAlign="center center" style="height: 100%;">
                    <h4 style="white-space:normal; overflow:visible; text-align: center;">Você ainda não criou nenhuma fazenda.</h4>
                    <br>
                    <br>
                    <button mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition" routerLink="/farm/new" (click)="$event.stopPropagation()">Criar Fazenda</button>
                </div>

                <div fxFlex fxLayout="row" *ngIf="farmDataSource.data.length > 0">
                    <table mat-table [dataSource]="farmDataSource" matSort #farmsSort="matSort" matSortActive="name" matSortDisableClear matSortDirection="asc"
                        style="width:100%">

                        <!-- Name Column -->
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Fazenda </th>
                            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                        </ng-container>

                        <!-- Edit Column -->
                        <ng-container matColumnDef="edit">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td *matCellDef="let element" class="mat-column-edit">
                                <button mat-stroked-button color="accent" [routerLink]="['/farm/'+element._id+'/edit']">Editar</button>
                            </td>
                        </ng-container>

                        <!-- Delete Column -->
                        <ng-container matColumnDef="delete">
                            <th mat-header-cell *matHeaderCellDef> </th>
                            <td *matCellDef="let element" class="mat-column-delete">
                                <button mat-stroked-button color="warn" (click)="deleteDialog(element._id)">Apagar</button>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="farmTableColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: farmTableColumns;"></tr>
                    </table>
                </div>

            </div>

        </div>

    </div>


</span>