<span *ngIf="!dataLoading" class="mat-typography">

    <form novalidate [formGroup]="formField" (ngSubmit)="submit()">

        <div class="ngxgHeaderToolbar pageTitle" fxLayout="row" fxLayoutAlign="">
            <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="center center">
                <span fxFlex=41>

                    <h1>{{(editing)? 'Editar ' : 'Cadastrar novo '}} Campo</h1>

                </span>
                <span fxFlex="1 1 auto"></span>
                <span>
                    <button type="button" mat-button class="ngxgButtonWhite" (click)="cancel($event)">Cancelar</button>
                    <button type="submit" mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition">Salvar</button>
                </span>
            </div>
        </div>

        <div class="ngxgContent" fxFlex fxLayout="row">

            <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutGap="20px">

                <div fxFlex="420px" fxLayout="column">

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <input matInput type="text" placeholder="Nome" formControlName="name" required>
                            <mat-error *ngIf="formField.get('name').invalid">Nome inválido.</mat-error>
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <mat-select placeholder="Fazenda" formControlName="farm" disableOptionCentering="true">
                                <mat-option *ngFor="let f of farms" [value]="f">{{f.name}}</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <button mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition" style="margin-left: 15px; height: 41px;"
                            routerLink="/farm/new">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between start" class="formRow">
                        <mat-form-field appearance="outline">
                            <mat-chip-list #chipList>
                                <mat-chip *ngFor="let user of sharableUsers" [selectable]="true" [removable]="true" (removed)="remove(user)">
                                    {{user.name}}
                                    <mat-icon matChipRemove *ngIf="true">cancel</mat-icon>
                                </mat-chip>
                                <input #shrdUsrInput [matAutocomplete]="auto" placeholder="Usuários com acesso" [formControl]="sharableUserCtrl" [matChipInputFor]="chipList"
                                    [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="true" (matChipInputTokenEnd)="add($event)">
                            </mat-chip-list>
                            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                                <mat-option *ngFor="let user of filteredShdUsers | async" [value]="user" style="height: 58px; line-height: 20px; padding: 15px 16px;">
                                    {{user.name}}
                                    <br>
                                    <span class="mat-caption">{{user.email}}</span>
                                </mat-option>
                            </mat-autocomplete>
                        </mat-form-field>
                    </div>

                </div>

                <div fxFlex fxLayout="column">

                    <div ngxgMap id="mapField" (mapInstance)="getMapInstance($event)" (drawSaved)="getDraw($event)" [options]="{latitude: -16.08, longitude:-47.78, zoom:5.4, controls: {baseMaps: true,locate: false, draw: true}, basemap: 'Hybrid', fitMapTo: 'geojson'}">
                        <div ngxgGeoJson *ngIf="fieldGeoJSON" [options]="{id: fieldID, geojson: fieldGeoJSON, editable: true}"></div>
                    </div>

                </div>

            </div>

        </div>

    </form>

</span>