.ngxgHeaderToolbar {
    height: 0px;
}

.mat-form-field {
    width: 100%;
    height: 20px !important;
    margin: 0 0 -1.5em 0 !important;

    /deep/ .mat-form-field-wrapper {
        margin: 0 !important;
    }

    /deep/ .mat-form-field-infix {
        padding: 5px 0 10px !important;
    }
    
    /deep/ .mat-select-arrow-wrapper {
        vertical-align: unset !important;
    }
}
