<span *ngIf="!tabLoading" class="mat-typography">

    <div fxLayout="column" fxLayoutGap="20px">

        <!-- Latest -->
        <div fxFlex fxLayout="row" fxLayoutGap="20px">

            <div fxFlex=70 fxLayout="column">
                <div class="ngxgCardSectionTitle" fxFlex>
                    <h1>Tempo Agora</h1>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="20px">

                    <div fxFlex=25 fxLayout="column" fxLayoutGap="20px">

                        <!-- Temperature -->
                        <mat-card class="ngxgCard mat-elevation-z1" fxFlex fxLayout="column">
                            <div class="ngxgCardTitle" fxFlex>
                                <h3>Temperatura</h3>
                            </div>
                            <div fxFlex>
                                Chart
                            </div>
                        </mat-card>

                    </div>

                    <div fxFlex=35 fxLayout="column" fxLayoutGap="20px">

                        <!-- Humidity -->
                        <mat-card class="ngxgCard mat-elevation-z1" fxFlex>
                            <div class="ngxgCardTitle" fxFlex>
                                <h3>Umidade</h3>
                            </div>
                            <div fxFlex>
                                Chart
                            </div>
                        </mat-card>

                        <!-- Dew Point -->
                        <mat-card class="ngxgCard mat-elevation-z1" fxFlex fxLayout="row">
                            <div class="ngxgCardTitle" fxFlex>
                                <h3>Ponto de Olvalho</h3>
                            </div>
                            <div fxFlex>
                                Value
                            </div>
                        </mat-card>

                    </div>

                    <div fxFlex=40 fxLayout="column" fxLayoutGap="20px">

                        <!-- Wind Direction -->
                        <mat-card class="ngxgCard mat-elevation-z1" fxFlex>
                            <div class="ngxgCardTitle" fxFlex>
                                <h3>Direção do Vento</h3>
                            </div>
                            <div fxFlex>
                                Chart
                            </div>
                        </mat-card>

                        <!-- Wind Speed -->
                        <mat-card class="ngxgCard mat-elevation-z1" fxFlex fxLayout="row">
                            <div class="ngxgCardTitle" fxFlex>
                                <h3>Velocidade do Vento</h3>
                            </div>
                            <div fxFlex>
                                Value
                            </div>
                        </mat-card>

                    </div>


                </div>
            </div>

            <div fxFlex fxLayout="column">

                <div class="ngxgCardSectionTitle" fxFlex>
                    <h1>Registrado Ontem</h1>
                </div>

                <div fxFlex fxLayout="row" fxLayoutGap="20px">

                    <div fxFlex fxLayout="column" fxLayoutGap="20px">

                        <!-- ISSE -->
                        <mat-card class="ngxgCard mat-elevation-z1" fxFlex>
                            <div class="ngxgCardTitle" fxFlex>
                                <h3>Índice de Severidade de Seca</h3>
                            </div>
                            <div fxFlex>
                                Chart
                            </div>
                        </mat-card>

                        <!-- Evapotranspiration -->
                        <mat-card class="ngxgCard mat-elevation-z1" fxFlex fxLayout="row">
                            <div class="ngxgCardTitle" fxFlex=70>
                                <h3>Evapotranspiração Potencial</h3>
                            </div>
                            <div fxFlex>
                                Value
                            </div>
                        </mat-card>

                    </div>

                </div>

            </div>

        </div>



        <!-- Observed & Forecast -->
        <div fxFlex fxLayout="row" fxLayoutGap="20px">

            <!-- Observed -->
            <div fxFlex fxLayout="column">

                <div class="ngxgCardSectionTitle" fxFlex>
                    <h1>Observados diariamente</h1>
                </div>

                <div fxFlex fxLayout="column" fxLayoutGap="20px">

                    <!-- Daily observed -->
                    <mat-card class="ngxgCard mat-elevation-z1" fxFlex>
                        <div class="ngxgCardTitle" fxFlex>
                            <h3>Chuva e temperatura média diária</h3>
                        </div>
                        <div fxFlex>
                            Value
                        </div>
                    </mat-card>

                    <!-- Daily accumulated -->
                    <mat-card class="ngxgCard mat-elevation-z1" fxFlex>
                        <div class="ngxgCardTitle" fxFlex>
                            <h3>Chuva e graus-dia acumulados</h3>
                        </div>
                        <div fxFlex>
                            Value
                        </div>
                    </mat-card>

                </div>

            </div>

            <!-- Forecast -->
            <div fxFlex fxLayout="column">

                <div class="ngxgCardSectionTitle" fxFlex>
                    <h1>Previsão</h1>
                </div>

                <div fxFlex fxLayout="column" fxLayoutGap="20px">

                    <!-- Rain probability -->
                    <mat-card class="ngxgCard mat-elevation-z1" fxFlex>
                        <div class="ngxgCardTitle">
                            <h3>Probabilidade de chuva</h3>
                        </div>
                        <div fxFlex>
                            Chart
                        </div>
                    </mat-card>

                    <!-- Rainfall 7 days map -->
                    <mat-card class="ngxgCard mat-elevation-z1" fxFlex>
                        <div class="ngxgCardTitle">
                            <h3>Previsão de total de chuva para os próximos 7 dias</h3>
                        </div>
                        <div fxFlex>
                            Value
                        </div>
                    </mat-card>

                </div>
            </div>

        </div>

    </div>


</span>