<span *ngIf="!ensoLoading" class="mat-typography">
    <div class="ngxgHeaderToolbar" fxLayout="row"></div>

    <div class="ngxgContent" fxLayout="row">
        <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="60px" fxLayoutGap.lt-md="10px">

            <div fxFlex fxLayout="column">
                <br>
                <br>
                <h1>Condições atuais e previsão para os próximos 3 meses</h1>
                <p style="max-width: 800px;">
                    <img src="/assets/img/enso/ensochart.png" ngStyle.gt-xs="margin-left: 25px;" style="max-width: 300px; height: auto; float: right; " /> As condições atuais das águas do Oceano Pacífico equatorial são neutras com uma expectativa de aquecimento
                    durante o segundo semestre de 2018 com a probabilidade de estabelecimento do ciclo El Niño durante a
                    safra de verão 2018/2019. As probabilidades para os próximos 3 meses (julho-agosto-setembro) estão apresentadas
                    no gráfico ao lado para as fases neutra (verde), El Niño (vermelha) e La Niña (azul). A maior probabilidade
                    é de permanecermos na fase neutra com a possível transição para a fase El Niño a partir de outubro.

                </p>
                <iframe style="max-width:800px; height:320px" src="https://www.youtube.com/embed/aFo3nujaZcM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
                <br>
                <br>

                <h1>O que é o fenômeno El Niño?</h1>
                <p style="max-width: 800px;">
                    O fenômeno El Niño-Oscilação Sul (ENOS) é caracterizado pelo aquecimento (El Niño) ou resfriamento (La Niña) da temperatura
                    da superfície do mar no oceano Pacífico equatorial. Tanto o El Niño quanto a La Niña podem afetar o clima
                    regional e global, mudando os padrões de vento a nível mundial, e afetando assim, os regimes de chuva
                    em regiões tropicais e de latitudes médias. Estas mudanças afetam diretamente a produção agrícola no
                    Brasil e no mundo. Entre em contato conosco para saber mais sobre como o fenômeno El Niño afeta a sua
                    região ou regiões produtoras de grãos no mundo.
                </p>
                <br>
                <br>
                
            </div>

            <mat-divider [vertical]=true fxHide.lt-md></mat-divider>
            
            <div fxFlex fxLayout="column">
                <br>
                <br>
                <h1>Como os ciclos El Niño e La Niña afetam o Brasil?</h1>

                <img src="/assets/img/enso/ensoBRelnino.png" style=" width: 90%;" />
                <br>
                <img src="/assets/img/enso/ensoBRlanina.png" style=" width: 90%;" />
                
            </div>

        </div>
    </div>

</span>