@import '~@angular/material/theming';
.clearBoth {
    clear: both;
}

.formRow {
    margin-top: 15px;
}

.ngxgMaxWidth {
    margin: 0 auto;
    max-width: 1540px;
}

.ngxgHeaderToolbar {
    width: 100%;
    min-height: 60px;
    background-color: rgba($color: #FFFFFF, $alpha: 1);
    margin-bottom: 30px;
    padding: 0 40px;
    position: sticky;
    top: 80px;
    z-index: 999;
    border-bottom: solid 1px #EEE;
    &:empty {
        min-height: 0px;
    }
    &.pageTitle {
        background-color: rgba($color: #FAFAFA, $alpha: 1);
        border-bottom-color: #F5F5F5;
        border-top: solid 1px #EEE;
        margin-top: 0;
        margin-bottom: 30px;
        padding-top: 20px;
        padding-bottom: 15px;
        h1 {
            margin: 0;
        }
    }
    button {
        margin: 0 5px;
        &:last-child {
            margin-right: 0;
        }
        &:first-child {
            margin-left: 0;
        }
    }
}

.ngxgContent {
    width: 100%;
    padding: 0 40px;
}

.ngxgHoverTransition {
    @include mat-elevation-transition;
    @include mat-elevation(0);
    &:hover {
        cursor: pointer;
        @include mat-elevation(2);
    }
}

.ngxgButtonWhite {
    border: solid 1px #DDD !important;
    background-color: #FFF;
    height: 36px;
}

.ngxgButtonEdit {
    font-weight: 400;
    color: #151515;
    border: solid 1px #EEE !important;
    background-color: #FFF;
}

.ngxgCardSectionTitle h1 {
    margin-top: 20px;
    color: #545454;
}

.ngxgCard {
    overflow: hidden;
    padding: 10px 10px !important;
    .ngxgCardTitle h3 {
        color: #757575;
    }
    chart {
        display: block;
        width: 100% !important;
        height: auto !important;
    }
}

/**
 * Fix FlexLayout within router-outlet
 */

router-outlet+* {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

/**
 * Fix Leaflet buttons z-index
 */

.leaflet-top,
.leaflet-bottom {
    z-index: 500 !important;
}

/**
 * Leaflet markers
 */

.map-field-marker {
    position: relative;
    background: #FFF;
    border-radius: 3px;
    width: 50px;
    height: 50px;
}

.map-field-marker>img {
    position: absolute;
    left: 2px;
    top: 2px;
    width: 46px;
    height: 46px;
    border-radius: 3px;
}

.map-field-marker:after {
    top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-top-color: #FFF;
    border-width: 7px;
    margin-left: -7px;
}

.leaflet-draw-toolbar {
    & .leaflet-draw-draw-polygon {
        background-size: 350px 44px !important;
    }
    & .leaflet-draw-edit-remove {
        background-size: 312px 44px !important;
    }
}

.leaflet-draw-draw-polygon {
    width: 44px !important;
    height: 44px !important; //background-color: #03a9f4 !important;
}

.leaflet-draw-edit-remove {
    width: 44px !important;
    height: 44px !important; // background-color: red !important;
}

.leaflet-draw-actions {
    top: 3px !important;
    right: 46px !important;
}

.leaflet-draw-actions a {
    font-size: 15px !important;
    height: 40px !important;
    line-height: 40px !important;
}

.leaflet-draw-tooltip-subtext {
    font-size: 15px !important;
}

@keyframes blinker {
    50% {
        opacity: 0.7;
    }
}