@import '~@angular/material/theming';

.clearBoth {
    clear: both;
}

.formRow {
    margin-top: 15px;
}

.ngxgMaxWidth {
    margin: 0 auto;
    max-width: 1540px;
}

.ngxgHeaderToolbar {
    width: 100%;
    min-height: 60px;
    background-color: rgba($color: #FFFFFF, $alpha: 1);
    margin-bottom: 30px;
    padding: 0 40px;
    position: sticky;
    top: 80px;
    z-index: 999; 
    border-bottom: solid 1px #EEE;

    &:empty {
        min-height: 0px;
    }

    &.pageTitle {  
        background-color: rgba($color: #FAFAFA, $alpha: 1);
        border-bottom-color: #F5F5F5;
        border-top: solid 1px #EEE;
        margin-top: 0;
        margin-bottom: 30px;
        padding-top: 20px;
        padding-bottom: 15px;

        h1 {
            margin: 0;
        }
    }

    button {
        margin: 0 5px;

        &:last-child {
            margin-right: 0;
        }

        &:first-child {
            margin-left: 0;
        }
    }
    
}

.ngxgContent {
    width: 100%;
    padding: 0 40px;
}

.ngxgHoverTransition {
    @include mat-elevation-transition;
    @include mat-elevation(0);

    &:hover {
        cursor: pointer;
        @include mat-elevation(2);
    }
}

.ngxgButtonWhite {
    border: solid 1px #DDD !important;
    background-color: #FFF;
    height: 36px;
}

.ngxgButtonEdit {
    font-weight: 400;
    color: #151515;
    border: solid 1px #EEE !important;
    background-color: #FFF;
}


.ngxgCardSectionTitle h1 {
    margin-top: 20px;
    color: #545454;
}

.ngxgCard {
    padding: 10px 10px !important;

    .ngxgCardTitle h3 {
        color: #757575;
    }

    chart {
        display: block;
        width: 100% !important;
        height: auto !important;
    }
}

/**
 * Fix FlexLayout within router-outlet
 */

router-outlet + * { 
    flex: 1 1 auto; 
    display: flex;
    flex-direction: column; 
}


/**
 * Fix Leaflet buttons z-index
 */


.leaflet-top, .leaflet-bottom {
    z-index: 500 !important;
}

