<form novalidate [formGroup]="formRecover">

    <mat-form-field appearance="outline">
        <input matInput type="email" placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="formRecover.get('email').invalid">Email inválido.</mat-error>
    </mat-form-field>

    <div fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="5px" style="margin-top: 15px;">
        <button fxFlex type="submit" mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition">Recuperar senha</button>
        <!-- <button fxFlex mat-button class="ngxgButtonWhite" routerLink="../">Cancelar</button> -->
    </div>

</form>

<div class="bottomLink" fxLayout="row" fxLayoutAlign="end">
    <a routerLink="../">Cancelar e retornar para o login.</a>
</div>