.mat-form-field {
    width: 100%;
    margin: 0 0 -.7em 0 !important;
    
    /deep/ .mat-form-field-wrapper {
        margin: 0 !important;
    }
    /deep/ .mat-form-field-infix {
        padding: 5px 0 10px !important;
    }
}

.bottomLink {
    padding: 15px 0 0;
    a {
        color: #353535;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}
