<span *ngIf="!fieldsLoading" class="mat-typography">

    <div class="ngxgHeaderToolbar" fxLayout="row">
        <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span fxFlex=41>

                <button mat-button [mdePopoverTriggerFor]="userFilter" class="ngxgButtonWhite">
                    Produtor
                </button>
                <button mat-button [mdePopoverTriggerFor]="farmFilter" class="ngxgButtonWhite">
                    Fazenda
                </button>

                <button *ngIf="filters.commodity.length > 0" mat-button [mdePopoverTriggerFor]="seasonFilter" class="ngxgButtonWhite">
                    Safra Atual
                </button>

                <!-- <button mat-button [mdePopoverTriggerFor]="commodityFilter" class="ngxgButtonWhite">
                    Cultura
                </button>
                <button mat-button [mdePopoverTriggerFor]="varietyFilter" class="ngxgButtonWhite">
                    Variedade
                </button> -->


            </span>
            <span fxFlex="1 1 auto"></span>
            <span>
                <button mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition" routerLink="/farm/new">Criar Fazenda</button>
                <button mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition" routerLink="/field/new">Criar Campo</button>
                <!-- <button mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition" routerLink="/season/new">Criar Safra</button> -->
            </span>
        </div>
    </div>

    <div class="ngxgContent" fxLayout="row">
        <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutGap="20px">

            <div id="fieldList" fxFlex=65 fxLayout="column" fxLayoutAlign="start">

                <mat-card *ngFor="let field of fields" fxFlex fxLayout="row" class="fieldCard mat-elevation-z0 ngxgHoverTransition" [routerLink]="['/field']">

                    <div fxFlex="300px">
                        <img src="{{field.app.thumbnail}}" alt="Photo of a Shiba Inu">
                    </div>

                    <div fxFlex=28>
                        <h2>{{field.name}}</h2>
                        <h5>{{field.location.loc.city.name}}, {{field.location.loc.state.abbr}}</h5>

                        <h4>{{field.area.size/10000 | round }} hectares</h4>
                        <h5>Área</h5>

                        <div *ngIf="((field || {}).app || {}).weather">
                            <!-- <h4>{{field.app.weather.temperature}} - {{field.app.weather.summary}}</h4> -->
                            <h5>Condição agora</h5>

                            <span>
                                <!-- <h4>{{field.app.weather.sunrise}}</h4> -->
                                <h5>Amanhecer</h5>
                            </span>
                            <span>
                                <!-- <h4>{{field.app.weather.sunset}}</h4> -->
                                <h5>Pôr-do-Sol</h5>
                            </span>
                        </div>

                    </div>

                    <div fxFlex>
                        <div *ngIf="(((field || {}).app || {}).season || {}).display">

                            <h2>{{field.app.season[field.app.season.display].name}}</h2>
                            <h5>Safra {{ field.app.season.display === 'current'? 'Atual': field.app.season.display === 'prev'?
                                'Passada': 'Futura' }}</h5>

                            <span>
                                <h4>{{field.app.season[field.app.season.display].commodity.name}}</h4>
                                <h5>Cultura</h5>
                            </span>
                            <span>
                                <h4>{{field.app.season[field.app.season.display].variety.name}}</h4>
                                <h5>Variedade</h5>
                            </span>

                            <span class="clearBoth"></span>

                            <span>
                                <h4>{{field.app.season[field.app.season.display].plantingDate | date: 'dd/MM/yyyy'}}</h4>
                                <h5>Data de plantio</h5>
                            </span>

                            <span>
                                <h4>{{field.app.season[field.app.season.display].harvestingDate || field.app.season[field.app.season.display].modelHarvestingDate | date: 'dd/MM/yyyy'}}</h4>
                                <h5>{{ field.app.season.display !== 'prev'? 'Previsão de colheita' : 'Data de colheita' }}</h5>
                            </span>

                            <!-- <h4>{{field.app.season.current.currentStage.stage.abbrv}} {{field.app.season.current.currentStage.stage.name}}</h4>
                            <h5>Estádio atual</h5>

                            <h4>{{field.app.season.current.extra.nextStage.stage.abbrv}} {{field.app.season.current.extra.nextStage.stage.name}} ({{field.app.season.current.extra.nextStage.in}})</h4>
                            <h5>Próximo estádio</h5> -->
                        </div>
                    </div>

                </mat-card>
            </div>


            <div fxFlex>
                <div id="mapFieldsWrapper">
                    <div ngxgMap id="mapFields" [options]="{latitude: 31.7, longitude:-83.25, zoom:8.4, controls: {baseMaps: false, locate: false}, basemap: 'Light', fitMapTo: 'geojson'}">

                        <!-- <div ngxgGeoJson *ngFor="let field of fields" [options]="{id: field._id, geojson: field.extra.geojson}"></div> -->

                        <!-- <div ngxgMarker *ngFor="let field of fields" (click)="markerClicked($event)" [options]="{title: field.name, latitude: field.location.lat, longitude: field.location.lon, divIconOptions: field.extra.divIconOptions, fieldId: field._id}"></div> -->

                    </div>
                </div>

                <!-- <div id="mapFieldsWrapper">
                    <div id="mapFields" leaflet [leafletOptions]="map.options"></div>
                </div> -->
            </div>

        </div>

    </div>


    <!-- Filters -->

    <mde-popover #userFilter [mdePopoverCloseOnClick]="false" [mdePopoverOverlapTrigger]="false" [mdeFocusTrapEnabled]="false"
        mdePopoverPositionY="above">
        <mat-card style="max-height: 50vh; overflow: scroll; border:solid 1px #CCC">
            <mat-card-content>
                <mat-selection-list (selectionChange)="filterChange('user', user.selectedOptions)" #user>
                    <h3 matSubheader>Produtores</h3>
                    <mat-list-option [checkboxPosition]="before" *ngFor="let user of filters.user" [value]="user._id">
                        <h4 mat-line>{{user.name}}</h4>
                        <p mat-line> {{user.email}} </p>
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
    </mde-popover>

    <mde-popover #farmFilter [mdePopoverCloseOnClick]="false" [mdePopoverOverlapTrigger]="false" [mdeFocusTrapEnabled]="false"
        mdePopoverPositionY="above">
        <mat-card style="max-height: 50vh; overflow: scroll; border:solid 1px #CCC">

            <mat-card-content>
                <mat-selection-list (selectionChange)="filterChange('farm', farm.selectedOptions)" #farm>
                    <h3 matSubheader>Fazendas</h3>
                    <mat-list-option [checkboxPosition]="before" *ngFor="let farm of filters.farm" [value]="farm._id">
                        {{farm.name}}
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
    </mde-popover>

    <mde-popover #seasonFilter [mdePopoverCloseOnClick]="false" [mdePopoverOverlapTrigger]="false" [mdeFocusTrapEnabled]="false"
        mdePopoverPositionY="above">
        <mat-card style="max-height: 50vh; overflow: scroll">
            <mat-card-content fxLayout="row">

                <div fxFlex style="border-right: solid 1px #EEE">
                    <mat-selection-list (selectionChange)="filterChange('commodity', commodity.selectedOptions)" #commodity>
                        <h3 matSubheader>Culturas</h3>
                        <mat-list-option [checkboxPosition]="before" *ngFor="let commodity of filters.commodity" [value]="commodity._id">
                            {{commodity.name}}
                        </mat-list-option>
                    </mat-selection-list>
                </div>

                <div fxFlex>
                    <mat-selection-list (selectionChange)="filterChange('variety', variety.selectedOptions)" #variety>
                        <h3 matSubheader>Variedades</h3>
                        <mat-list-option [checkboxPosition]="before" *ngFor="let variety of filters.variety" [value]="variety._id">
                            {{variety.name}}
                        </mat-list-option>
                    </mat-selection-list>
                </div>
            </mat-card-content>
        </mat-card>
    </mde-popover>


    <!-- <mde-popover #commodityFilter [mdePopoverCloseOnClick]="false" [mdePopoverOverlapTrigger]="false" [mdeFocusTrapEnabled]="false"
        mdePopoverPositionY="above">
        <mat-card style="max-height: 50vh; overflow: scroll">
            <mat-card-header>Culturas</mat-card-header>
            <mat-card-content>
                <mat-selection-list (selectionChange)="filterChange('commodity', commodity.selectedOptions)" #commodity>
                    <mat-list-option [checkboxPosition]="before" *ngFor="let commodity of filters.commodity" [value]="commodity._id">
                        {{commodity.name}}
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
    </mde-popover>

    <mde-popover #varietyFilter [mdePopoverCloseOnClick]="false" [mdePopoverOverlapTrigger]="false" [mdeFocusTrapEnabled]="false"
        mdePopoverPositionY="above">
        <mat-card style="max-height: 50vh; overflow: scroll">
            <mat-card-header>Variedades</mat-card-header>
            <mat-card-content>
                <mat-selection-list (selectionChange)="filterChange('variety', variety.selectedOptions)" #variety>
                    <mat-list-option [checkboxPosition]="before" *ngFor="let variety of filters.variety" [value]="variety._id">
                        {{variety.name}}
                    </mat-list-option>
                </mat-selection-list>
            </mat-card-content>
        </mat-card>
    </mde-popover> -->

</span>