<span *ngIf="!fieldsLoading">
    <div class="ngxgHeaderToolbar" fxLayout="row">
        <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="center center">
            <span fxFlex=41>
                <button mat-raised-button class="ngxgButtonFilter mat-elevation-z0">Fazenda</button>
                <button mat-raised-button class="ngxgButtonFilter mat-elevation-z0">Cultura</button>
                <button mat-raised-button class="ngxgButtonFilter mat-elevation-z0">Safra</button>
            </span>
            <span fxFlex="1 1 auto"></span>
            <span>
                <button mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition">Criar Fazenda</button>
                <button mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition">Criar Campo</button>
                <button mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition">Criar Safra</button>
            </span>
        </div>
    </div>

    <div class="ngxgContent" fxLayout="row">
        <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutGap="20px">

            <div id="fieldList" fxFlex=65 fxLayout="column" fxLayoutAlign="start">

                <mat-card *ngFor="let field of fields" fxFlex fxLayout="row" class="fieldCard mat-elevation-z0 ngxgHoverTransition mat-typography">

                    <div fxFlex="300px">
                        <img src="{{field.app.thumbnail}}" alt="Photo of a Shiba Inu">
                    </div>

                    <div fxFlex=28>
                        <h2>{{field.name}}</h2>
                        <!-- <h5>{{field.location.city.name}}, {{field.location.state.abbr}}</h5> -->

                        <h4>{{field.area.size}}</h4>
                        <h5>Área</h5>

                        <!-- <h4>{{field.app.weather.temperature}} - {{field.app.weather.summary}}</h4> -->
                        <h5>Condição agora</h5>

                        <span>
                            <!-- <h4>{{field.app.weather.sunrise}}</h4> -->
                            <h5>Amanhecer</h5>
                        </span>
                        <span>
                            <!-- <h4>{{field.app.weather.sunset}}</h4> -->
                            <h5>Pôr-do-Sol</h5>
                        </span>

                    </div>

                    <div fxFlex>
                        <h2>2017/2018 Algodão #000</h2>
                        <h5>Safra atual</h5>

                        <span>
                            <h4>Algodão</h4>
                            <h5>Cultura</h5>
                        </span>
                        <span>
                            <h4>PHY007</h4>
                            <h5>Variedade</h5>
                        </span>
                        <span class="clearBoth"></span>
                        <span>
                            <h4>12/10/2017</h4>
                            <h5>Data de colheita</h5>
                        </span>
                        <span>
                            <h4>02/02/2018</h4>
                            <h5>Previsão de colheita</h5>
                        </span>

                        <h4>R8 - Maturidade plena</h4>
                        <h5>Estádio atual</h5>
                    </div>
                </mat-card>
            </div>


            <div fxFlex>
                <div id="mapFieldsWrapper">
                    <div id="mapFields" leaflet [leafletOptions]="options"></div>
                </div>
            </div>

        </div>

    </div>
</span>



<!-- Preloaders
            <span *ngIf="fieldsLoading">
                <mat-card *ngFor="let field of [1, 2]" fxFlex fxLayout="row" class="fieldCardLoader mat-elevation-z0">

                    <div fxFlex="300px">
                        <div style="height: 100%; width: 100%;" class="line"></div>
                    </div>

                    <div fxFlex=28>
                        <div style="height: 24px; width: 80%;" class="line"></div>
                        <div style="height: 16px; margin: 4px 0 15px;" class="line"></div>

                        <div style=" height: 18px; width: 46%; margin: 4px 0;" class="line"></div>
                        <div style="height: 13px; width: 30%; margin: 4px 0 16px" class="line"></div>

                        <div style="height: 18px; width: 35%; margin: 4px 0;" class="line"></div>
                        <div style="height: 13px; width: 45%; margin: 4px 0 16px" class="line"></div>

                        <div style="height: 18px; width: 50%; margin: 4px 0;" class="line"></div>
                        <div style="height: 13px; width: 60%; margin: 4px 0 16px;" class="line"></div>
                    </div>

                    <div fxFlex>
                        <div style="height: 24px; width: 80%;" class="line"></div>
                        <div style="height: 16px; width: 20%; margin: 4px 0 15px;" class="line"></div>

                        <div style="height: 18px; width: 46%; margin: 4px 0;" class="line"></div>
                        <div style="height: 13px; width: 40%; margin: 4px 0 16px" class="line"></div>

                        <div style="height: 18px; width: 55%; margin: 4px 0;" class="line"></div>
                        <div style="height: 13px; width: 65%; margin: 4px 0 16px" class="line"></div>

                        <div style="height: 18px; width: 50%; margin: 4px 0;" class="line"></div>
                        <div style="height: 13px; width: 35%; margin: 4px 0 16px;" class="line"></div>
                    </div>

                </mat-card>
            </span>
             -->


<!-- 

<div class="ngxgContent" fxLayout="row">
    <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutGap="20px">

        <div id="fieldList" fxFlex="60" fxLayout="row wrap" fxLayoutAlign="space-between">

            <mat-card fxFlex class="fieldCard mat-elevation-z0 ngxgHoverTransition">
                <mat-card-header>
                    <mat-card-title class="mat-display-1">Jaborandi 01</mat-card-title>
                    <mat-card-subtitle>Luiz Eduardo Magalhães, Bahia</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>113 Hectares</p>
                    <p>Area</p>

                    <p>29 - Limpo</p>
                    <p>Condição agora</p>

                    <p>05:07 - 19:50</p>
                    <p>Amanhecer - Por-do-Sol</p>

                    <hr>
                    <p>2017/2018 Algodão #000</p>

                    <p>Algodão/PHY007</p>
                    <p>Cultura/Variedade</p>



                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card fxFlex class="fieldCard mat-elevation-z0 ngxgHoverTransition">
                <mat-card-header>
                    <mat-card-title class="mat-display-1">Jaborandi 01</mat-card-title>
                    <mat-card-subtitle>Luiz Eduardo Magalhães, Bahia</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>113 Hectares</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card fxFlex class="fieldCard mat-elevation-z0 ngxgHoverTransition">
                <mat-card-header>
                    <mat-card-title class="mat-display-1">Jaborandi 01</mat-card-title>
                    <mat-card-subtitle>Luiz Eduardo Magalhães, Bahia</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>113 Hectares</p>
                    <p>Area</p>

                    <p>29 - Limpo</p>
                    <p>Condição agora</p>

                    <p>05:07 - 19:50</p>
                    <p>Amanhecer - Por-do-Sol</p>

                    <hr>
                    <p>2017/2018 Algodão #000</p>

                    <p>Algodão/PHY007</p>
                    <p>Cultura/Variedade</p>



                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

            <mat-card fxFlex class="fieldCard mat-elevation-z0 ngxgHoverTransition">
                <mat-card-header>
                    <mat-card-title class="mat-display-1">Jaborandi 01</mat-card-title>
                    <mat-card-subtitle>Luiz Eduardo Magalhães, Bahia</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>113 Hectares</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>

        </div>



        <div fxFlex>
            <div id="mapFieldsWrapper">
                <div id="mapFields" leaflet [leafletOptions]="options"></div>
            </div>
        </div>
    </div>

</div>

 -->