<span *ngIf="!fieldLoading" class="mat-typography">
    <div class="ngxgHeaderToolbar" fxLayout="row"></div>

    <div id="fieldHeaderBg" class="ngxgContent" fxLayout="row">
        <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutGap="20px">

            <div id="fieldHeader" fxFlex fxLayout="row">

                <div fxFlex=25>
                    <img src="{{field.app.thumbnail}}" alt="Photo of a Shiba Inu">
                </div>

                <!-- Field Information -->

                <div fxLayout="column" fxFlex=20 fxFlexAlign="space-between start">

                    <div fxFlex fxLayoutGap="20px">
                        <h1>{{field.name}}</h1>
                        <h5>{{field.location.loc.city.name}}, {{field.location.loc.state.abbr}}</h5>
                    </div>

                    <div fxFlex fxLayoutGap="20px">
                        <h4>{{field.area.size/10000 | round }} hectares</h4>
                        <h5>Área</h5>
                    </div>

                    <div *ngIf="((field || {}).app || {}).weather" fxFlex fxLayoutGap="20px">
                        <h4>{{field.app.weather.temperature}} - {{field.app.weather.summary}}</h4>
                        <h5>Condição agora</h5>
                    </div>

                    <div *ngIf="((field || {}).app || {}).weather" fxFlex fxLayout="row" fxLayoutGap="20px">
                        <span>
                            <h4>{{field.app.weather.sunrise}}</h4>
                            <h5>Amanhecer</h5>
                        </span>
                        <span>
                            <h4>{{field.app.weather.sunset}}</h4>
                            <h5>Pôr-do-Sol</h5>
                        </span>
                    </div>

                    <div fxFlex fxLayout="column" fxLayoutAlign="end stretch">
                        <button mat-button class="ngxgButtonEdit buttonEdit" routerLink="/field/{{field._id}}/edit">Editar campo</button>
                    </div>

                </div>

                <mat-divider vertical="true"></mat-divider>

                <!-- Season Information -->

                <div *ngIf="!(((field || {}).app || {}).season || {}).display" fxFlex=37 fxLayout="column" fxLayoutAlign="center center"
                    style="height: 100%;">
                    <h4 style="white-space:normal; overflow:visible; text-align: center;">Você ainda não criou nenhuma safra para este campo.</h4>
                    <br>
                    <button mat-raised-button color="primary" class="mat-elevation-z0 ngxgHoverTransition" routerLink="/season/new/field/{{field._id}}"
                        (click)="$event.stopPropagation()">Criar Safra</button>
                </div>

                <div *ngIf="(((field || {}).app || {}).season || {}).display" fxLayout="column" fxFlex=37>

                    <div fxFlex="60px" fxLayout="row" fxLayoutGap="15px">
                        <span fxFlex=70>
                            <mat-form-field appearance="outline">
                                <mat-select [ngModel]="field.app.season[field.app.season.display]" (ngModelChange)="switchSeason($event)" disableOptionCentering="true">
                                    <mat-option *ngFor="let season of field.seasons" [value]="season">
                                        {{ season.name }}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </span>
                        <span fxFlex>
                            <button mat-raised-button color="primary" style="height: 42px;" class="mat-elevation-z0 ngxgHoverTransition" routerLink="/season/new/field/{{field._id}}">
                                Criar Safra
                            </button>
                        </span>
                    </div>

                    <div fxFlex fxLayout="row" fxLayoutGap="20px">
                        <span>
                            <h4>{{field.app.season[field.app.season.display].commodity.name}}</h4>
                            <h5>Cultura</h5>
                        </span>
                        <span>
                            <h4>{{field.app.season[field.app.season.display].variety.name}}</h4>
                            <h5>Variedade</h5>
                        </span>
                    </div>

                    <div fxFlex fxLayout="row" fxLayoutGap="20px">
                        <span>
                            <h4>{{field.app.season[field.app.season.display].plantingDate | date: 'dd/MM/yyyy'}}</h4>
                            <h5>Data de plantio</h5>
                        </span>
                        <span>
                            <h4>{{field.app.season[field.app.season.display].harvestingDate || field.app.season[field.app.season.display].modelHarvestingDate
                                | date: 'dd/MM/yyyy'}}</h4>
                            <h5>{{ field.app.season.display !== 'prev'? 'Previsão de colheita' : 'Data de colheita' }}</h5>
                        </span>
                    </div>

                    <div fxFlex>
                        <span>
                            <div *ngIf="(field.app.season[field.app.season.display].app || {}).phenologyModel && (field.app.season[field.app.season.display].app || {}).currentStage">
                                <h4>{{field.app.season[field.app.season.display].app.currentStage.stage.abbrv}} {{field.app.season[field.app.season.display].app.currentStage.stage.name}}</h4>
                                <h5>Estádio atual</h5>
                            </div>
                        </span>
                        <span>
                            <div *ngIf="(field.app.season[field.app.season.display].app || {}).phenologyModel && (field.app.season[field.app.season.display].app || {}).nextStage">
                                <h4>{{field.app.season[field.app.season.display].app.nextStage.stage.abbrv}} {{field.app.season[field.app.season.display].app.nextStage.stage.name}}
                                    ({{field.app.season[field.app.season.display].app.nextStage.in}})
                                </h4>
                                <h5>Próximo estádio</h5>
                            </div>
                        </span>
                    </div>

                    <div fxFlex fxLayout="column" fxLayoutAlign="end stretch">
                        <button mat-button class="ngxgButtonEdit buttonEdit" routerLink="/season/iddaseason/edit">Editar safra</button>
                    </div>



                </div>

                <mat-divider vertical="true"></mat-divider>

                <!-- Season/Field Weather/Climate Information -->

                <div fxLayout="column" fxFlex=20>

                    <div fxFlex=23>
                        <h3>Acumulado durante a safra</h3>
                        <p>01/01/2018 até 01/05/2018</p>
                    </div>

                    <div fxFlex=18>
                        <h4>1200 mm</h4>
                        <h5>Chuva</h5>
                    </div>

                    <div fxFlex=18>
                        <h4>2000 GD</h4>
                        <h5>Graus-dia</h5>
                    </div>

                    <div fxFlex=18>
                        <h4>2000</h4>
                        <h5>ISSE</h5>
                    </div>

                </div>

            </div>
        </div>

    </div>

    <div id="fieldTabsList" class="ngxgContent" fxLayout="row">
        <div class="ngxgMaxWidth" fxFlex fxLayout="row" fxLayoutAlign="start start">
            <button mat-raised-button class="mat-elevation-z0" routerLink="weather" routerLinkActive="link-active">Tempo e Previsão</button>
            <button mat-raised-button class="mat-elevation-z0" routerLink="climate" routerLinkActive="link-active">Climatologia</button>
            <!-- <button mat-raised-button class="mat-elevation-z0" [routerLink]="['satellite']" routerLinkActive="link-active">Satélite</button> -->
            <button mat-raised-button class="mat-elevation-z0" routerLink="phenology" routerLinkActive="link-active" [disabled]="!field.app.season[field.app.season.display].app.phenologyModel">Guia de Fases</button>
        </div>
    </div>

    <div id="fieldTabs" class="ngxgContent" fxLayout="row">
        <div class="ngxgMaxWidth" fxFlex fxLayout="row">

            <!-- Preloader -->
            <span *ngIf="tabsLoading" style="position:absolute; left: 50%; top:50%; transform: translate(-50%, -50%);">
                <mat-spinner [diameter]="60" [strokeWidth]="4"></mat-spinner>
            </span>

            <router-outlet></router-outlet>

        </div>

    </div>

</span>